{% extends 'base.html' %}
{% block content %}
		
		
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
				
				<div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Add Student</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0);">Students</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0);">Add Student</a></li>
                        </ol>
                    </div>
                </div>
				
				<div class="row">
					<div class="col-xl-12 col-xxl-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
								<h5 class="card-title">Basic Info</h5>
							</div>
							<div class="card-body">
								{% load crispy_forms_tags %}
                                <form action="{% url 'add_student' %}" method="post" enctype="multipart/form-data">
									{% csrf_token %}
									<div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												{{form.first_name|as_crispy_field}}
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												{{form.last_name|as_crispy_field}}
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												{{form.email|as_crispy_field}}
											</div>
										</div>
										
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">Group</label>
                                                <select
                                                name="group"
                                                class="form-control"
                                                >
                                                <option value="Department">choice</option>
                                                {% for group in form.group.field.queryset %}
                                                <option value="{{group.id}}">{{group.name}}</option>
                                                {% endfor %}
                                                </select>
                                            </div>
                                        </div>
										<div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">Gender</label>
                                                <select
                                                name="gender"
                                                class="form-control"
                                                >
                                                <option value="">Choose...</option>
                                                {% for label, value in form.gender.field.choices %}
                                                <option value="{{label}}">{{value}}</option>
                                                {% endfor %}
                                                </select>
                                            </div>
                                            </div>
										<div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
											{{form.phone|as_crispy_field}}
                                            </div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												{{form.birthday|as_crispy_field}}
											</div>
										</div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
											{{form.education|as_crispy_field}}
                                            </div>
										</div>
										
										
										
										<div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-group">
											{{form.address|as_crispy_field}}
                                            </div>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-group">
											{{form.profile_photo|as_crispy_field}}
                                            </div>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12">
											<button type="submit" class="btn btn-primary">Submit</button>
											<button type="submit" class="btn btn-light">Cencel</button>
										</div>
									</div>
								</form>
								
                            </div>
                        </div>
                    </div>
				</div>
                
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

{% endblock %}
        