{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block content %}
<div class="content-body">
	<!-- row -->
	<div class="container-fluid">
			
		<div class="row page-titles mx-0">
			<div class="col-sm-6 p-md-0">
				<div class="welcome-text">
					<h4>All Professors</h4>
				</div>
			</div>
			<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Home</a></li>
					<li class="breadcrumb-item active"><a href="javascript:void(0);">Professors</a></li>
					<li class="breadcrumb-item active"><a href="javascript:void(0);">All Professors</a></li>
				</ol>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<ul class="nav nav-pills mb-3">
					<li class="nav-item"><a href="#list-view" data-toggle="tab" class="nav-link btn-primary mr-1 show active">List View</a></li>
					<li class="nav-item"><a href="#grid-view" data-toggle="tab" class="nav-link btn-primary">Grid View</a></li>
				</ul>
			</div>
			<div class="col-lg-12">
				<div class="row tab-content">
					<div id="list-view" class="tab-pane fade active show col-lg-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">All Professors  </h4>
								<a href="{% url 'add_professor' %}" class="btn btn-primary">+ Add new</a>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table id="example3" class="display" style="min-width: 845px">
										<thead>
											<tr>
												<th></th>
												<th>Name</th>
												<th>Department</th>
												<th>Gender</th>
												<th>Education</th>
												<th>Mobile</th>
												<th>Email</th>
												<th>Joining Date</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											{% for teacher in teachers %}
											<tr>
												{% if teacher.profile_photo %}<td><img class="rounded-circle" width="35" src="{{teacher.profile_photo.url}}" alt=""></td>{% else %}<td><img class="rounded-circle" src="{% static 'images/defoult.png' %}" width="35" alt=""></td>{% endif %}
												<td>{{teacher.first_name}} {{teacher.last_name}}</td>
												<td>{{teacher.department}}</td>
												<td>{{teacher.get_gender_display}}</td>
												<td>{{teacher.education}}</td>
												<td><a href="javascript:void(0);"><strong>{{teacher.phone}}</strong></a></td>
												<td><a href="javascript:void(0);"><strong>{{teacher.email}}</strong></a></td>
												<td>{{teacher.date_joined}}</td>
												<td>
													<a href="{% url 'edit_professor' teacher.id %}" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
													<!-- Button trigger modal -->
<button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{teacher.id}}">
  <i class="la la-trash-o"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop{{teacher.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete Teacher: <strong>{{teacher.first_name}} {{teacher.last_name}}</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="{% url 'delete_professor' teacher.id %}" class="btn btn-danger">Yes</a>
      </div>
    </div>
  </div>
</div>
												</td>												
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div id="grid-view" class="tab-pane fade col-lg-12">
						<div class="row">
							{% for teacher in teachers %}
							<div class="col-lg-4 col-md-6 col-sm-6 col-12">
								<div class="card card-profile">
									<div class="card-header justify-content-end pb-0">
										<div class="dropdown">
											<button class="btn btn-link" type="button" data-toggle="dropdown">
												<span class="dropdown-dots fs--1"></span>
											</button>
											<div class="dropdown-menu dropdown-menu-right border py-0">
												<div class="py-2">
													<a class="dropdown-item" href="{% url 'edit_professor' teacher.id %}">Edit</a>
													<a href="{% url 'delete_professor' teacher.id %}" class="btn btn-danger dropdown-item">Delete</a>
												</div>
											</div>
										</div>
									</div>
									<div class="card-body pt-2">
										<div class="text-center">
											<div class="profile-photo">
												{% if teacher.profile_photo %}<img src={{teacher.profile_photo.url}} width="100" class="img-fluid rounded-circle" alt="">{% else %}<img src="{% static 'images/defoult.png' %}" width="100" class="img-fluid rounded-circle" alt="">{% endif %}
											</div>
											<h3 class="mt-4 mb-1">{{teacher.first_name}}</h3>
											<p class="text-muted">{{teacher.education}}</p>
											<ul class="list-group mb-3 list-group-flush">
												<li class="list-group-item px-0 d-flex justify-content-between">
													<span class="mb-0">Gender :</span><strong>{{teacher.get_gender_display}}</strong></li>
												<li class="list-group-item px-0 d-flex justify-content-between">
													<span class="mb-0">Phone No. :</span><strong>{{teacher.phone}}</strong></li>
												<li class="list-group-item px-0 d-flex justify-content-between">
													<span class="mb-0">Email:</span><strong>{{teacher.email}}</strong></li>
												<li class="list-group-item px-0 d-flex justify-content-between">
													<span class="mb-0">Address:</span><strong>{{teacher.address}}</strong></li>
											</ul>
											<a class="btn btn-outline-primary btn-rounded mt-3 px-4" href="{% url 'professor_profile' teacher.id %}">Read More</a>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
{% endblock %}
</html>