{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--**********************************
	Content body start
***********************************-->
<div class="content-body">
	<!-- row -->
	<div class="container-fluid">
			
		<div class="row page-titles mx-0">
			<div class="col-sm-6 p-md-0">
				<div class="welcome-text">
					<h4>All Student</h4>
				</div>
			</div>
			<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Home</a></li>
					<li class="breadcrumb-item active"><a href="javascript:void(0);">Students</a></li>
					<li class="breadcrumb-item active"><a href="javascript:void(0);">All Student</a></li>
				</ol>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<ul class="nav nav-pills mb-3">
					<li class="nav-item"><a href="#list-view" data-toggle="tab" class="nav-link btn-primary mr-1 show active">List View</a></li>
					<li class="nav-item"><a href="#grid-view" data-toggle="tab" class="nav-link btn-primary">Grid View</a></li>
				</ul>
			</div>
			<div class="col-lg-12">
				<div class="row tab-content">
					<div id="list-view" class="tab-pane fade active show col-lg-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">All Students List  </h4>
								<a href="{% url 'add_student' %}" class="btn btn-primary">+ Add new</a>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table id="example3" class="display" style="min-width: 845px">
										<thead>
											<tr>
												<th>#</th>
												<th>Roll No.</th>
												<th>Name</th>
												<th>Gender</th>
												<th>Mobile</th>
												<th>Email</th>
												<th>Admission Date</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											{% for student in students %}
											<tr>
												{% if student.profile_photo %}
												<td><img class="rounded-circle" width="35" src="{{student.profile_photo.url}}" alt=""></td>
												{% else %}
												<td><img class="rounded-circle" width="35" src="{% static 'images/defoult.png' %}" alt=""></td>
												{% endif %}
												<td><strong>{{student.id}}</strong></td>
												<td>{{student.first_name}} {{student.last_name}}</td>
												<td>{{student.get_gender_display}}</td>
												<td><a href="javascript:void(0);"><strong>{{student.phone}}</strong></a></td>
												<td><a href="javascript:void(0);"><strong>{{student.email}}</strong></a></td>
												<td>{{student.created_at}}</td>
												<td>
													<a href="{% url 'edit_student' student.id %}" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
													<a href="{% url 'delete_student' student.id %}" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								
							</div>
						</div>
					</div>
					<div id="grid-view" class="tab-pane fade col-lg-12">
						<div class="row">
							{% for student in students %}
							<div class="col-lg-4 col-md-6 col-sm-6 col-12">
								<div class="card card-profile">
									<div class="card-header justify-content-end pb-0">
										<div class="dropdown">
											<button class="btn btn-link" type="button" data-toggle="dropdown">
												<span class="dropdown-dots fs--1"></span>
											</button>
											<div class="dropdown-menu dropdown-menu-right border py-0">
												<div class="py-2">
													<a class="dropdown-item" href="{% url 'edit_student' student.id %}">Edit</a>
													<a class="dropdown-item text-danger" href="{% url 'delete_student' student.id %}">Delete</a>
												</div>
											</div>
										</div>
									</div>
									<div class="card-body pt-2">
										<div class="text-center">
											<div class="profile-photo">
												{% if student.profile_photo %}
												<img src="{{student.profile_photo.url}}" width="100" class="img-fluid rounded-circle" alt="">
												{% else %}
												<img src="{% static 'images/defoult.png' %}" width="100" class="img-fluid rounded-circle" alt="">
												{% endif %}
											</div>
											<h3 class="mt-4 mb-1">{{student.first_name}} {{student.last_name}}</h3>
											<p class="text-muted">{{student.education}}</p>
											<ul class="list-group mb-3 list-group-flush">
												<li class="list-group-item px-0 d-flex justify-content-between">
													<span>Roll No.</span><strong>{{student.id}}</strong></li>
												<li class="list-group-item px-0 d-flex justify-content-between">
													<span class="mb-0">Phone No. :</span><strong>{{student.phone}}</strong></li>
												<li class="list-group-item px-0 d-flex justify-content-between">
													<span class="mb-0">Admission Date. :</span><strong>{{student.created_at}}</strong></li>
												<li class="list-group-item px-0 d-flex justify-content-between">
													<span class="mb-0">Email:</span><strong>{{student.email}}</strong></li>
											</ul>
											<a class="btn btn-outline-primary btn-rounded mt-3 px-4" href="{% url 'student_profile' student.id  %}">Read More</a>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
<!--**********************************
	Content body end
***********************************-->
{% endblock %}