{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content-body">
            <!-- row -->
            <div class="container-fluid">
				    
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>All Courses</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0);">All Courses</a></li>
                        </ol>
                    </div>
                </div>

                <div class="row">
                    {% for course in courses %}
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6">
						<div class="card">
							{% if course.group_photo %}<img class="img-fluid" src="{{course.group_photo.url}}" alt="">{% else %}<img class="img-fluid" src="{% static 'images/defoult.png' %}" alt="">{% endif %}
							<div class="card-body">
								<h4>{{course.description}}</h4>
								<ul class="list-group mb-3 list-group-flush">
									<li class="list-group-item px-0 border-top-0 d-flex justify-content-between"><span class="mb-0 text-muted">{{course.start_from|date:'M y'}}</span>
										<a href="javascript:void(0);"><i class="la la-heart-o mr-1"></i><strong>230</strong></a></li>
								    <li class="list-group-item px-0 border-top-0 d-flex justify-content-between"><span class="mb-0 text-muted">Course Name</span>
										<strong>{{course.name}}</strong></li>
                                    <li class="list-group-item px-0 border-top-0 d-flex justify-content-between"><span class="mb-0 text-muted">Course Code</span>
										<strong>{{course.course_code}}</strong></li>	
                                    <li class="list-group-item px-0 d-flex justify-content-between">
										<span class="mb-0">Duration :</span><strong>{{course.duration}} Months</strong></li>
									<li class="list-group-item px-0 d-flex justify-content-between">
										<span class="mb-0">Professor :</span><strong>{{course.teacher}}</strong></li>
									<li class="list-group-item px-0 d-flex justify-content-between">
										<span><i class="fa fa-graduation-cap text-primary mr-2"></i>Student</span><strong>+{{course.max_student}}</strong></li>
								</ul>
                            </div>
                            <a href='{% url "about_course" course.id %}' class="btn btn-outline-primary p-1 mx-2 mb-2">Read More</a>
                            <a href='{% url "edit_course" course.id %}' class="btn btn-outline-warning p-1 mx-2 mb-2">Edit course</a>
                            <a href='{% url "delete_course" course.id %}' class="btn btn-outline-danger p-1 mx-2 mb-2">Delete course</a>
                            <a href='{% url "view_course" course.id %}' class="btn btn-outline-success p-1 mx-2 mb-2">View</a>
						</div>
					</div>
                    {% endfor %}
				
            </div>
</div>
{% endblock %}
