{% extends 'base.html' %}

{% block content %}

<div class="row">
			<div class="col-lg-12">
				<div class="row tab-content">
					<div id="list-view" class="tab-pane fade active show col-lg-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">All Lessons  </h4>
								<a href="{% url 'add_lesson' %}" class="btn btn-primary">+ Add new</a>
							</div>
							<div class="card-body">
                                
                                <div class="container mt-5">
                                    <h2 class="text-center mb-4">Talabalar Yo'qlamasi</h2>
                                    <form action="#" method="post">
                                        <table class="table table-striped table-hover">
                                            <thead class="bg-primary text-white">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Ism</th>
                                                    <th>Familiya</th>
                                                    <th>Yo'qlama</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Ali</td>
                                                    <td>Olimov</td>
                                                    <td>
                                                        <div class="form-check-inline">
                                                            <input class="form-check-input" type="radio" name="attendance[1]" value="qatnashdi" id="ali_present">
                                                            <label class="form-check-label" for="ali_present">
                                                                <i class="fas fa-check-circle text-success"></i>
                                                            </label>
                                                        </div>
                                                        <div class="form-check-inline">
                                                            <input class="form-check-input" type="radio" name="attendance[1]" value="qatnashmadi" id="ali_absent">
                                                            <label class="form-check-label" for="ali_absent">
                                                                <i class="fas fa-times-circle text-danger"></i>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Nodira</td>
                                                    <td>Azimova</td>
                                                    <td>
                                                        <div class="form-check-inline">
                                                            <input class="form-check-input" type="radio" name="attendance[2]" value="qatnashdi" id="nodira_present">
                                                            <label class="form-check-label" for="nodira_present">
                                                                <i class="fas fa-check-circle text-success"></i>
                                                            </label>
                                                        </div>
                                                        <div class="form-check-inline">
                                                            <input class="form-check-input" type="radio" name="attendance[2]" value="qatnashmadi" id="nodira_absent">
                                                            <label class="form-check-label" for="nodira_absent">
                                                                <i class="fas fa-times-circle text-danger"></i>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Sardor</td>
                                                    <td>Saidov</td>
                                                    <td>
                                                        <div class="form-check-inline">
                                                            <input class="form-check-input" type="radio" name="attendance[3]" value="qatnashdi" id="sardor_present">
                                                            <label class="form-check-label" for="sardor_present">
                                                                <i class="fas fa-check-circle text-success"></i>
                                                            </label>
                                                        </div>
                                                        <div class="form-check-inline">
                                                            <input class="form-check-input" type="radio" name="attendance[3]" value="qatnashmadi" id="sardor_absent">
                                                            <label class="form-check-label" for="sardor_absent">
                                                                <i class="fas fa-times-circle text-danger"></i>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">Yo'qlama Qilish</button>
                                        </div>
                                    </form>
                                </div>
						
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>



{% endblock %}