{% load static %}
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="../index.htm" target="_blank">DexignLab</a> 2020</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src='{% static "vendor/global/global.min.js" %}'></script>
	<script src='{% static "vendor/bootstrap-select/dist/js/bootstrap-select.min.js" %}'></script>
    <script src='{% static "js/custom.min.js" %}'></script>
	<script src='{% static "js/dlabnav-init.js" %}'></script>

    <!-- Chart ChartJS plugin files -->
    <script src='{% static "vendor/chart.js/Chart.bundle.min.js" %}'></script>
	
	<!-- Chart piety plugin files -->
    <script src='{% static "vendor/peity/jquery.peity.min.js" %}'></script>
	
	<!-- Chart sparkline plugin files -->
    <script src='{% static "vendor/jquery-sparkline/jquery.sparkline.min.js" %}'></script>
	
		<!-- Demo scripts -->
    <script src='{% static "js/dashboard/dashboard-3.js" %}'></script>
	
	<!-- Svganimation scripts -->
    <script src='{% static "vendor/svganimation/vivus.min.js" %}'></script>
    <script src='{% static "vendor/svganimation/svg.animation.js" %}'></script>
    <script src='{% static "js/styleSwitcher.js" %}'></script>
	

	<!-- All professors Datatable -->
    <script src='{% static "vendor/datatables/js/jquery.dataTables.min.js" %}'></script>
    <script src='{% static "js/plugins-init/datatables.init.js" %}'></script>
	<!-- End All professors Datatable -->


	<!-- Add professor pickdate -->
    <script src='{% static "vendor/pickadate/picker.js" %}'></script>
    <script src='{% static "vendor/pickadate/picker.time.js" %}'></script>
    <script src='{% static "vendor/pickadate/picker.date.js" %}'></script>
	
	<!-- Pickdate -->
    <script src='{% static "js/plugins-init/pickadate-init.js" %}'></script>
	<!-- End Add professor pickdate -->

    <!-- Attendance -->
   <!-- Attendance end -->

</body>
</html>